[submodule "airbnb"]
	path = airbnb
	url = git@github.com:femiir/airbnb.git
[submodule "facecard"]
	path = facecard
	url = git@github.com:femiir/facecard.git
[submodule "memegen"]
	path = memegen
	url = git@github.com:femiir/memegen.
[submodule "gpt3"]
	path = gpt3
	url = git@github.com:femiir/gpt3.git
[submodule "ambience"]
	path = ambience
	url = git@github.com:femiir/ambience.git
