.card {
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  background-image: url("..assets/card.svg");
  border-radius: 10px 10px 0px 0px;
}

.main {
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;
  background: #1A1B21;
  font-family: 'Inter';
  font-style: normal;

}

.main--title {
  width: 178.06px;
  height: 25.81px;
  left: 186px;
  top: 382px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 36px 0 36px;
  color: #FFFFFF;
  text-align: center;
  margin: 10px 36px 10px 36px;


}

.main--subtitle {
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  top: 414px;

  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;

  color: #F3BF99;
  text-align: center;
  margin: 0 36px 0 36px;


}

.main--text {
  width: 228px;
  height: 16px;
  left: 161px;
  top: 437px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #F5F5F5;
  text-align: center;

}

.main--socials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main--mail {
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;

  /* white */

  background: #FFFFFF;
  /* gray/300 */

  border: 1px solid #D1D5DB;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #374151;
}

.main--linkedin {

  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  left: 283px;
  top: 468px;

  background: #5093E2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background: #5093E2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

}

.main--content {
  width: 247px;
  height: 61px;
  left: 152px;
  top: 561px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  text-align: left;
  margin: 0 36px 0 36px;


  color: #DCDCDC;
}

.main--content h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #F5F5F5;


}

.main--content p {

  width: 247px;
  height: 61px;
  left: 152px;
  top: 675px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  color: #DCDCDC;

}


.footer {
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}